# MySQL database credentials (All required)
# The username for the MYSQL DATABASE (e.g., root_user)
# Used to connect to the database directly 
MYSQL_USER=

#The password for the MYSQL user to access the database:
MYSQL_PASSWORD=

# The root password for MySQL (ensure it is secure)
# Illegal special characters (Don't use these): @ ` ' " ; & | $ % \ / < > ( ) * ? [ ] { } 
MYSQL_ROOT_PASSWORD=

# The name of the MySQL database to create/use
MYSQL_DATABASE=


# JSON Web Token secret (Required)
# A secret key used for generating and signing JSON Web Tokens for authentication
JWT_SECRET=

# Ports for the app and database containers (All Required)
# The port on which the app container will run
APP_PORT=       

# The port on which the database container will run
DB_PORT=

# Note:
# 1. The JSON Web Token (JWT_SECRET) is used for authentication and should be a secure, secret key.
# 2. Avoid using single-digit numbers for database credentials to prevent syntax errors.
#    Use meaningful, descriptive names instead.
# 3. Ensure MYSQL_USER, MYSQL_ROOT_PASSWORD and MYSQL_DATABASE are correctly set
#    and match the corresponding values in your application configuration.
