# Database container credentials (All required)
DATABASE_CONTAINER_NAME=
DATABASE_CONTAINER_USERNAME=
DATABASE_CONTAINER_PASSWORD=
DATABASE_NAME=

# MYSQL database credentials (All required)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

# JSON Web Token (Required)
JWT_SECRET=

# Note: For the database container name, you can find it in the docker-compose.yml. 
# The JSON Web Token is used for authentication and can be generated using a secret key.